*{
    font-family: Helvetica ;
    box-sizing: border-box;
}
 body{
    padding: 1rem;
 }  

 h1 {
    text-align: center;
    color: #ff5757; 

 }

 form{
    display: flex;  
    flex-direction: column;
    gap: .5rem;
    width: 500px; 
    margin: 0 auto;

 }
    label{
        font-weight: bold;
        margin-bottom: 5px; 
    }
    
    input, select, textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.1rem; 
    }
     button {
        padding: 10px; 
        border: none;
        border-radius: 5px;
        background-color: #cb6ce6; 
        font-size: 1.1rem;
        cursor: pointer;
     }

     p {
        text-align: center;
        color: #ff5757; 
        font-size: 1.2rem; 
     } 
      #cad {
        text-decoration: none; 
        color: #cb6ce6; 
      }

        .btn-voltar {
    background: linear-gradient(90deg, #9B59B6, #920505);
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background 0.3s ease;
  }

      @media (max-width: 600px) {
    form {
        width: 100%;
      }
}

