body {
    background: #fff;
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-box {
    background: #fff;
    padding: 40px 30px 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    border: 3px solid #ff5757;
}

.logo {
    width: 220px;
    height: 90px;
    border: 2px solid #cb6ce6;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #f9f0ff;
}

.logo-placeholder {
    font-size: 14px;
    color: #cb6ce6;
    text-align: center;
    font-weight: bold;
}

.login-options {
    width: 100%;
    margin-bottom: 20px;
}

.login-option {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-btn {
    width: 100%;
    padding: 16px 12px;
    background: linear-gradient(90deg,#9B59B6 , #920505);;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 1px 4px rgba(203,108,230,0.10);
}


.arrow {
    font-size: 18px;
    transition: transform 0.2s;
}

.arrow.down {
    transform: rotate(180deg);
}

.entrar-container {
    display: none;
    margin-top: 5px;
    text-align: right;
}

.entrar-btn {
    padding: 8px 24px;
    background: #ff5757;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;
    margin-top: 4px;
}

.site-name {
    margin-top: 10px;
    font-size: 14px;
    color: #cb6ce6;
    font-weight: bold;
}