body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #b61414b2;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.filtros, .formulario {
    background-color: #fff;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filtros select, .formulario input, .formulario select {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.formulario button, .filtros button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.formulario button:hover, .filtros button:hover {
    background-color: #a00000;
}


.profile-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1rem;
    padding: 1.5rem;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.profile-card:hover {
    transform: translateY(-5px);
}

.details {
    display: none;
    text-align: left;
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}

.contact-btn {
  display: inline-block;
  margin-top: 10px;
  background-color: #007b5e;
  color: white;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s;
}

.contact-btn:hover {
  background-color: #005f47;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
